.icon-48-messagess {
      background-image: url(../images/l_messagess.png);
      padding-left:60px!important;
}

.icon-48-messages {
      background-image: url(../images/l_messagess.png);
      padding-left:60px!important;
}

.icon-48-sent_messages {
      background-image: url(../images/l_sent_messages.png);
      padding-left:60px!important;
}

.icon-48- {
      background-image: url(../images/l_sent_messages.png);
      padding-left:60px!important;
}

.icon-48-devices {
      background-image: url(../images/l_devices.png);
      padding-left:60px!important;
}

.icon-48-device {
      background-image: url(../images/l_devices.png);
      padding-left:60px!important;
}

.icon-48-oss {
      background-image: url(../images/l_oss.png);
      padding-left:60px!important;
}

.icon-48-os {
      background-image: url(../images/l_oss.png);
      padding-left:60px!important;
}

.icon-48-deviceslists {
      background-image: url(../images/l_deviceslists.png);
      padding-left:60px!important;
}

.icon-48-deviceslist {
      background-image: url(../images/l_deviceslists.png);
      padding-left:60px!important;
}

.icon-48-subscribers {
      background-image: url(../images/l_subscribers.png);
      padding-left:60px!important;
}

.icon-48-subscriber {
      background-image: url(../images/l_subscribers.png);
      padding-left:60px!important;
}

.icon-48-deviceslogs {
      background-image: url(../images/l_deviceslogs.png);
      padding-left:60px!important;
}

.icon-48-deviceslog {
      background-image: url(../images/l_deviceslogs.png);
      padding-left:60px!important;
}

.icon-48-languages {
      background-image: url(../images/l_languages.png);
      padding-left:60px!important;
}

.icon-48-language {
      background-image: url(../images/l_languages.png);
      padding-left:60px!important;
}

.icon-48-scheduledtasks {
      background-image: url(../images/l_scheduledtasks.png);
      padding-left:60px!important;
}

.icon-48-scheduledtask {
      background-image: url(../images/l_scheduledtasks.png);
      padding-left:60px!important;
}

.icon-48-segments {
      background-image: url(../images/l_segments.png);
      padding-left:60px!important;
}

.icon-48-segment {
      background-image: url(../images/l_segments.png);
      padding-left:60px!important;
}

.icon-48-appversions {
      background-image: url(../images/l_appversions.png);
      padding-left:60px!important;
}

.icon-48-appversion {
      background-image: url(../images/l_appversions.png);
      padding-left:60px!important;
}

